* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.fbc {
    display: flex;
    justify-content: space-around ; 
}

.item {
display: flex;
justify-content: center;
align-items: center;

background: #3e000c;
height: 100px;
flex-basis: 100px; /* width */
margin: 10px;
color: #fff
}
